data/
.DS_Store
.idea/
*.pdf

sprintEstimation.R

.Rapp.history

1To1.R

CapacityVsEstimation.xlsx

draw-chart.py

IssuesExport

sprintEstimationV2.R

sprintReview.R

timeToComplete.py

TimeToCompleteGraph.R

VelocityGithubReporting.py

VelocityReporting_1.py

VelocityReporting.py

JiraGithubMapping.csv
.Rproj.user

VelocityReporting.Rproj
